.img-slider {
    margin: auto;
    width: 100%;
}

#ngProgress {
    background-color: $color-primary !important;
}

.container-fluid {
    @include container-fixed(0);
}

.container-footer {
    @media (min-width: $screen-sm-min) {
        @include container-fixed(300px);
    }
    @media (max-width: $screen-xs-max) {
        @include container-fixed(100px);
    }
}

.header-section {
    padding: 10px 20%;
    margin-bottom: 15px;
    color: $color-primary;
    align-items: center;
    
    -webkit-box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.75);
    
    background: rgba(164,205,70,1);
    background: -moz-linear-gradient(left, rgba(164,205,70,1) 0%, rgba(71,204,155,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,205,70,1)), color-stop(100%, rgba(71,204,155,1)));
    background: -webkit-linear-gradient(left, rgba(164,205,70,1) 0%, rgba(71,204,155,1) 100%);
    background: -o-linear-gradient(left, rgba(164,205,70,1) 0%, rgba(71,204,155,1) 100%);
    background: -ms-linear-gradient(left, rgba(164,205,70,1) 0%, rgba(71,204,155,1) 100%);
    background: linear-gradient(to right, rgba(164,205,70,1) 0%, rgba(71,204,155,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4cd46', endColorstr='#47cc9b', GradientType=1 );
}

.navbar-transparent {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

.desplazamiento {
    padding: 10px 0px; 
    text-align: center;
    a {
        color: $color-primary;
    }
    span {
        font-size: 2em;
    }
}

.footer {
    background: $color-secondary;
    color: $color-white;
}

.img-sn-link-md {
    width: 18px;
    top: -4px;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default {
    border: none;
}

.yamm .yamm-content {
    padding: 8px 12px;
}

.yamm-content {
    h3 {
        color: $color-primary;
    }
}

.breadcrumb {
    a {
        color: $color-white;
    }
}

#clientes img {
    margin: 10px 0px;
}

.footer .btn-link {
    color: $color-white;
}

#servicios {
    img {
        height: 200px;
    }
}

#mmNav {
    a:hover {
        text-decoration: none;
    }
}

.bg-servicios {
    background-size: 100%;
    background-position: center; 
    @media (min-width: $screen-sm-min) {
        height: 180px;
    }
    @media (max-width: $screen-xs-max) {
        height: 90px;
    }
}

.non-underscore:hover {
    text-decoration: none;
}

#mmNav {
    @media (max-width: $screen-xs-max) {
        margin: 0px;
    }
    .navbar-header {
        @media (max-width: $screen-xs-max) {
            height: 50px;
        }
    }
}

.navbar-default {
    background-color: rgba($color-default, 0);
    .navbar-nav a.navbar-custom-link {
        font-weight: bold;
        color: $color-white;
        letter-spacing: 5px;
    }
}

.navbar-nav a.navbar-custom-link {
    font-weight: bold;
    color: $color-secondary;
    letter-spacing: 5px;
}


.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(#eeeeee, 0.5);
}

.thumbnail {
    a {
        color: $color-primary;
    }
    .btn-primary {
        color: $color-white;
        background-color: $color-primary;
    }
}

.eventos-principales {
    border: none;
    figure {
        height: 160px; /*container-width*/
        overflow: hidden; /*hide bounds of image */
        margin: 0px;   /*reset margin of figure tag*/
        img{
           display: block; /*remove inline-block spaces*/
           width: 100%; /*make image streatch*/
        }
    }
}

.slick-prev:before, .slick-next:before {
    color: $color-primary;
}

.containerimg {
    position: relative;
    width: 100%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerimg:hover .image {
  opacity: 0.3;
}

.containerimg:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.yamm .dropdown.yamm-fw .dropdown-menu, .yamm-content .thumbnail {
    background-color: $color-white;
}

.yamm-content .thumbnail {
    border-width: 0px;
    border-right-width: 2px;
    border-right-color: $color-black;
}

.yamm-item {
    &.yamm-wb {
        border-right: 1px solid $color-primary;
    }
    h4 a {
        text-decoration: none;
        color: $color-third;
    }
    hr {
        margin-top: 0px;
        margin-bottom: 5px;
        color: $color-third;
    }
}

.navbar-nav > .active > a {
    background-color: transparent !important;
    color: $color-default !important;
}

.navbar-nav a {
    &:hover {
        color: $color-default !important;
    }
}