$color-default: #9AFF08; // verde
$color-primary: #313B6C; // azul
$color-secondary: #F02731; // rojo

$color-third: darken($color-default, 15%);

$color-white: #ffffff;
$color-black: #000000;

$carousel-indicators-bottom: -40px;
$carousel-indicators-size: 15px;