$quienesSomosPrimaryColor: #00297C;
$quienesSomosSecondaryColor: #768CB4;

$eventosPrimaryColor: #688624;
$eventosSecondaryColor: #A5CE46;

$galeriaPrimaryColor: #EE2D32;
$galeriaSecondaryColor: #F37073;

$contactenosPrimaryColor: #363636;
$contactenosSecondaryColor: #5C5C5C;

$colorPrimary: #00297C;