<!-- "Features" Section -->
<section id="features" class="features">
    <div class="features__wrapper">
        <div class="section-header">
            <div class="section-header__title  section-header__title--features">EVENTOS Cleteando Ruteando</div>
            <div class="section-header__subtitle">"Ciclo paseos a rutas INTERDISTRITALES, pedaleando por tu Ciudad"</div>
        </div>
        <div class="features__elements-wrapper">
            <div class="features__element">
                <div class="features__image  features__image--mobile">&nbsp;</div>
                <div class="features__text">
                    <div class="features__title">Cerro Blanco</div>
                    <div class="features__description">                        
                        Sábado 16 de Setiembre de 2017<br>
                        Hora: 6:45 am<br>
                        Tolerancia: 15 min<br>
                        Recorrido: 42 Km aprox.<br>
                        Encuentro: Plaza de Armas de Trujillo
                    </div>
                </div>
            </div>
            <div class="features__element">
                <div class="features__image  features__image--newest">&nbsp;</div>
                <div class="features__text">
                    <div class="features__title">Puente Colgante</div>
                    <div class="features__description">
                        Sábado 23 de Setiembre de 2017<br>
                        Hora: 6:45 am<br>
                        Tolerancia: 15 min<br>
                        Recorrido: 35 Km aprox.<br>
                        Encuentro: Plaza de Armas de Trujillo
                    </div>
                </div>
            </div>
            <div class="features__element">
                <div class="features__image  features__image--intuitive">&nbsp;</div>
                <div class="features__text">
                    <div class="features__title">Huaca de Los Reyes</div>
                    <div class="features__description">
                        Sábado 30 de Setiembre de 2017<br>
                        Hora: 6:45 am<br>
                        Tolerancia: 15 min<br>
                        Recorrido: 36 Km aprox.<br>
                        Encuentro: Plazuela El Recreo Trujillo
                    </div>
                </div>
            </div>
            <div class="features__element">
                <div class="features__image  features__image--browsers">&nbsp;</div>
                <div class="features__text">
                    <div class="features__title">Laguna de Conache</div>
                    <div class="features__description">
                        Sábado 07 de Octubre de 2017<br>
                        Hora: 6:45 am<br>
                        Tolerancia: 15 min<br>
                        Recorrido: 32 Km aprox.<br>
                        Encuentro: Plazuela El Recreo Trujillo
                    </div>
                </div>
            </div>
            <div class="features__element">
                <div class="features__image  features__image--clients">&nbsp;</div>
                <div class="features__text">
                    <div class="features__title">Trujillo Cletear Rutear</div>
                    <div class="features__description">
                        Sábado 14 de Octubre de 2017<br>
                        Hora: 6:45 am<br>
                        Tolerancia: 15 min<br>
                        Recorrido: 00 Km aprox.<br>
                        Encuentro: Plazuela El Recreo Trujillo
                    </div>
                </div>
            </div>
            <div class="features__element">
                <div class="features__image  features__image--fast">&nbsp;</div>
                <div class="features__text">
                    <div class="features__title">Trujillo Cletear Rutear</div>
                    <div class="features__description">                            Sábado 21 de Octubre de 2017<br>
                        Hora: 6:45 am<br>
                        Tolerancia: 15 min<br>
                        Recorrido: 00 Km aprox.<br>
                        Encuentro: Plazuela El Recreo Trujillo
                    </div>
                </div>
            </div>
            <div class="features__element">
                <div class="features__image  features__image--seo">&nbsp;</div>
                <div class="features__text">
                    <div class="features__title">Trujillo Cletear Rutear</div>
                    <div class="features__description">
                        Sábado 28 de Octubre de 2017<br>
                        Hora: 6:45 am<br>
                        Tolerancia: 15 min<br>
                        Recorrido: 00 Km aprox.<br>
                        Encuentro: Plazuela El Recreo Trujillo
                    </div>
                </div>
            </div>
            <div class="features__element">
                <div class="features__image  features__image--secure">&nbsp;</div>
                <div class="features__text">
                    <div class="features__title">Trujillo Cletear Rutear</div>
                    <div class="features__description">
                        Sábado 04 de Noviembre de 2017<br>
                        Hora: 6:45 am<br>
                        Tolerancia: 15 min<br>
                        Recorrido: 00 Km aprox.<br>
                        Encuentro: Plazuela El Recreo Trujillo
                    </div>
                </div>
            </div>
            <div class="features__element">
                <div class="features__image  features__image--semantic">&nbsp;</div>
                <div class="features__text">
                    <div class="features__title">Trujillo Cletear Rutear</div>
                    <div class="features__description">
                        Sábado 11 de Noviembre de 2017<br>
                        Hora: 6:45 am<br>
                        Tolerancia: 15 min<br>
                        Recorrido: 00 Km aprox.<br>
                        Encuentro: Plazuela El Recreo Trujillo
                    </div>
                </div>
            </div>
            <div class="features__element">
                <div class="features__image  features__image--sourcefiles">&nbsp;</div>
                <div class="features__text">
                    <div class="features__title">Trujillo Cletear Rutear</div>
                    <div class="features__description">
                        Sábado 18 de Noviembre de 2017<br>
                        Hora: 6:45 am<br>
                        Tolerancia: 15 min<br>
                        Recorrido: 00 Km aprox.<br>
                        Encuentro: Plazuela El Recreo Trujillo
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End "Features" Section -->